@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply scroll-smooth;
  }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 5px;
}


@layer base {
  html {
    font-family: Roboto, Arial, sans-serif;
  }
}


.shimmerBG {
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #ddd;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 1200px 100%;
}


@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }
    100% {
        background-position: 1200px 0;
    }
}