@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply scroll-smooth;
  }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 5px;
}


@layer base {
  html {
    font-family: Roboto, Arial, sans-serif;
  }
}
